# {{title}}
By [{{author}}]({{site}})

![cover]({{cover_img}})

## Summary

{{synposis}}

## Content

{{#chapters}}
* **[{{name}}]({{stub}}/index.html)**:  _{{about}}_.  
{{#content}}
  - [{{title}}]({{link}})
{{/content}}      
{{/chapters}}